.image-viewer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images as needed */
  }
  
  .image-item {
    width: 150px; /* Set the fixed width of each image item */
    text-align: center;
    
  }
  
   .img-thumbnail {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    border-radius: 5px;
  }
   

   /* .img-thumbnail {
    width: 25%;
   
    height:  25%; 
    object-fit: cover;
    border-radius: 5px;
  }
   */