.image-viewer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images as needed */
  }
  
  .image-item {
    width: 150px; /* Set the fixed width of each image item */
    text-align: center;
  }
  
  .img-thumbnail {
    width: 100%;
    height: 150px; /* Set the fixed height of each image */
    object-fit: cover;
    border-radius: 5px;
  }
  